@import "constants";

.cart-table {
    text-align: center;
}

.cart-container {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.cart-amount-due {
    color: $darkgreen;
}
