$black: #000000;
$white: #ffffff;
$mildorange: #ff963a;
$lightorange: #fed8b1;
$lightgrey: #efefef;
$grey: #808080;
$lightpeach: #fffcdd;
$burlywood: #deb887;
$greyblue: #efefff;
$greyviolet: #ceb4ff;
$darkgreen: #006a05;
