#customer-dashboard-container {
    display: flex;
    justify-content: space-around;
    margin-block-end: auto;
    margin-inline-start: auto;
}

.dashboard-left-flex {
    margin-bottom: 80px;
    margin-top: 50px;
}


.dashboard-right-flex {
    margin-bottom: 100px;
    margin-top: 50px;
}

.customer-history-pages-title {
    display: block;
    text-align: center;
}
