@import "constants";

#homepage-navbar {
    background-color: $mildorange;
}

#homepage-background {
    background-color: $lightpink;
}

.homepage-carousel-background {
    background-color: $silver;
    margin: auto;
    width: 85%;
}

.homepage-carousel-image {
    display: block;
    height: 550px;
    margin: auto;
    object-fit: cover;
    width: 1150px;
}

.homepage-cards-container {
    display: flex;
    justify-content: center;
}

.homepage-card-left {
    height: 100px;
    margin-right: 50px;
    width: 500px;
}

.homepage-card-right {
    height: 100px;
    margin-left: 50px;
    width: 500px;
}
