.manageMenu-toolbar {
    display: inline-flex;
}

.manageMenu-dishes-List {
    margin: 20px 0;
}

.manageMenu-dish {
    display: inline-flex;
    width: 100%;
}

.manageMenu-dish-name {
    width: 80%
}

.manageMenu-dish-price {
    width: 20%
}