@import "constants";

.review-modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background: $white;
    width: 70%;
    height: auto;
    max-height: 95vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    border-radius: 10px;
    white-space: nowrap;
    overflow-y: auto;
    z-index: 6;
}
