#restaurant-reviews-title {
    display: block;
    text-align: center;
    text-decoration: underline;
}

#review-list-item {
    color: #000000;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100px;
}
