// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.container-signup-login {
    padding: 20px;
    width: 50%;
    margin: auto;
}

.form-users-main {
    padding: 20px;
}

#navbar-signup-login {
    margin-bottom: 10px;
}
